<app-navbar></app-navbar>
<div class="container main-container">
    <h1>Demos <small> angular </small></h1>
    <hr>
    <!--<app-ng-style></app-ng-style>
    <hr>
    <app-css></app-css>
    <hr>-->
    <!--<app-clases></app-clases>-->
    <!--<p [appResaltado]="'orange'">Hola mundo</p>
    <p [appResaltado]="'red'">Hola mundo 2</p>
    <p [appResaltado]="'green'">Hola mundo 2</p>
    <p appResaltado>Hola mundo 3</p>
    <p>Hola mundo 4</p>
    <app-ng-switch></app-ng-switch>-->
    <router-outlet></router-outlet>

</div>