<div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <div class="container">
        <h1 class="display-4"> Angular practice </h1>
        <p class="lead">* Aplicacion de 1 sola pagina <br> Notaremos una serie de ejemplo de bindeo de padre a hijo y hijo a padre con o sin eventos asi como la navegacion entre paginas <br> la busqueda sobre un data servicio, creacion de componentes, usando bootstrap..
            etc.
        </p>
        <p class="lead">* Aplicacion de 1 sola pagina + temas de pipes <br> Practicas con pipes uno a uno fechas, moneda, slice, json, plug personalizados<br> pipes de videos en angular.. etc<br> " pipe " = sirven para transformar la data de una manera visual pero el
            valor no cambia, sigue siendo el mismo.

        </p>
    </div>

</div>